{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="8A32DCEC103F11F9F74187A513431FF1" />
    <meta name="google-site-verification" content="t2Kfnbo80ZuBTl-ETxkJKfcHBOHKJ4mdcK9FeeyjN6E" />
    <meta name="description" content="In this guide, I’ll walk you through how I activated my own iPad using activate.apple.com, what you can expect, and what to do if you run into any issues—so your setup experience is as smooth as mine." />
    <meta name="keywords" content="activate.apple.com" />
    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
